# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.dmg

# Claude
.claude/

# SPM
.build/
.swiftpm/
