<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SpaceInvader</string>
    <key>CFBundleDisplayName</key>
    <string>SpaceInvader</string>
    <key>CFBundleIdentifier</key>
    <string>com.smingolelli.spaceinvader</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>SpaceInvaderNSApplication</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>SpaceInvader uses Accessibility to send keyboard events that switch Mission Control spaces.</string>
    <key>SUPublicEDKey</key>
    <string>Y73X2Lw+/mYf+KyC7lav9wmz/YfqshZ0SEygoYgHD10=</string>
    <key>SUFeedURL</key>
    <string>https://slmingol.github.io/SpaceInvader/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026. All rights reserved.</string>
</dict>
</plist>
